body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/*Bổ sung*/
.portfolio-item {
	margin-bottom: 25px;
}

footer {
	margin: 50px 0;
}
/*Chữ trên trang slide baner*/
.flexslider a:active,
.flexslider a:focus  {outline: none;}
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flexslider .slides {zoom: 1; background: url(../img/loader.gif) center no-repeat}
.flexslider:hover .flex-next {opacity: 0.8; right: 5px;}
.flexslider:hover .flex-prev {opacity: 0.8; left: 5px;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
section.homepage-slider,
section.homepage-slider div.intro{
	position:absolute;
	top:20%;
	left:7%;
	opacity:.7;
}
section.homepage-slider{
	border-bottom:1px dotted #eb4800;
	padding-bottom:1px;
	position: relative;
	top:0;
	z-index:99;
	border-bottom:2px solid #ddd;	
	background-color:#efeeed;
	min-height:100px;
}
section.homepage-slider div.intro{
	position:absolute;
	top:20%;
	left:7%;
	opacity:.7;
}
section.homepage-slider h1{
	background-color:#eb4800;
	color:#fff;
	padding:2px 7px;
	font-size:30px;
	text-transform:uppercase;
	float:left;
	width:auto;
}
section.homepage-slider p{
	overflow:hidden;
	width:100%;
	margin-bottom:2px;
}
section.homepage-slider span{
	background-color:#fff;
	color:#000;	
	padding:2px 10px;
	line-height:30px;
	font-size:28px;
	float:left;
	width:auto;
}
/*Chữ tiếp theo banner*/
.container { width:960px !important; position:relative !important; margin:0 auto !important;}