@using DongHo.Models;
@{
    ViewBag.Title = "DonDatHang";
    Layout = "~/Views/Shared/_LayoutQuanLy.cshtml";
}
<!DOCTYPE html>
<html>
<body>
    <link href="~/Content/home/Danhmuc.css" rel="stylesheet" />
    <link href="~/Content/home/style.css" rel="stylesheet" />
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#ctKhachHang" aria-controls="home" role="tab" data-toggle="tab">Danh Sách Đặt Hàng</a></li>
                    </ul>
                    <!-- Tab panes content goes here-->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade-in active" id="ctKhachHang">
                            <br />
                            <div class="table">
                                <table class="listing" cellpadding="0" cellspacing="0">
                                    <tr style="text-align:center; font-weight:bold">
                                    <tr >
                                        <td>Mã Hóa Đơn</td>
                                        <td>Ngày Đặt</td>
                                        <td>Ngày Giao</td>
                                        <td>Tùy Chọn</td>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr style="text-align:center">
                                            <th>@item.MaDDH</th>
                                            <th>@item.NgayDat</th>
                                            <th>@item.NgayGiao</th>
                                            <th>@Html.ActionLink("Chi Tiet", "DetailsDDH", new { id = item.MaDDH })</th>
                                        </tr>
                                    }
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<style>
    .bt {
        padding-top: 15px;
        margin: auto;
    }

    div.table {
        float: left;
        position: relative;
        width: 100%;
        margin-top: 18px;
    }

    table.listing {
        border-bottom: 1px solid #222d32;
        width: 100%;
        padding: 0;
        margin: auto;
        border: 1px solid #222d32;
    }

        table.listing th {
            border-top: 0 !important;
            margin: auto;
        }

            table.listing th.full {
                border-left: 0;
                border-right: 0 !important;
                text-align: left;
            }

    div.table img.left {
        position: absolute;
        top: 0;
        left: 0;
    }

    div.table img.right {
        position: absolute;
        top: 0;
        right: 1px;
    }
    /* table styles */
    table.listing td,
    table.listing th {
        margin: auto;
        border: 1px solid #201b3c;
        text-align: center;
    }

    table.listing th {
        margin: auto;
        background: #fff;
        color: #000;
        padding: 5px;
    }

    table.listing td {
        background: #222d32;
        color: #fff;
        padding: 3px 5px;
    }

    table.listing .bg td {
        background: #ff00dc;
    }

    table.listing .white td {
        background: #000;
    }

    table.listing .first {
        border-left: 0px solid #ff00dc;
        text-align: left;
    }

    table.listing .last {
        border-right: 0px solid #ff00dc;
    }

    table.listing th.first {
        background: #ff00dc url(../img/bg-th-left.gif) no-repeat left top;
        border-left: 0;
    }

    table.listing th.last {
        background: #ff00dc url(../img/bg-th-right.gif) no-repeat right top;
        border-right: 0;
    }

    table.listing .style1 {
        font-weight: bold;
        color: #FF7A00;
    }

    table.listing .style2 {
        font-weight: bold;
        padding-left: 16px;
    }

    table.listing .style3 {
        padding-left: 25px;
    }

    table.listing .style4 {
        padding-left: 35px;
    }

    table.form .last {
        padding: 1px 0 1px 5px;
        text-align: left;
    }

    table.form th,
    table.form td {
        padding-left: 10px;
    }

    table.form input.text {
        width: 262px;
    }
</style>

</html>