<body>
    <div class="container">
        <h2>A demo of Bootstrap tabs</h2>
        <div class="row">
            <div class="col-md-8">
                <div class="tab" role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active"><a href="#javatab" aria-controls="home" role="tab" data-toggle="tab">Java Tutorial</a></li>
                        <li role="presentation"><a href="#jquerytab" aria-controls="profile" role="tab" data-toggle="tab">jQuery Tutorial</a></li>
                        <li role="presentation"><a href="#ctab" aria-controls="messages" role="tab" data-toggle="tab">C# Tutorial</a></li>
                        <li role="presentation"><a href="#mysqltab" aria-controls="settings" role="tab" data-toggle="tab">MySQL Tutorial</a></li>
                    </ul>
                    <!-- Tab panes content goes here-->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane fade-in active" id="javatab">
                            <h4>Java</h4>
                            <p>
                                The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.
                                The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.<br /><br />
                                The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.
                                The Java is an object-oriented programming language that was developed by James Gosling from the Sun Microsystems in 1995.<br /><br />
                                <ul>
                                    <li>Chapter 1</li>
                                    <li>Chapter 2</li>
                                    <li>Chapter 3</li>
                                    <li>Chapter 4</li>
                                </ul>
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="jquerytab">
                            <h4>jQuery</h4>
                            <p>
                                jQuery content here
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane fade" id="ctab">
                            <h4>C#</h4>
                            <p>
                                C# is also a programming language
                            </p>
                        </div>
                        <div role="tabpanel" class="tab-pane tada" id="mysqltab">
                            <h4>MySQL</h4>
                            <p>
                                MySQL is a databased mostly used for web applications.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>